@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
@import url('https://fonts.googleapis.com/css?family=Engagement');


$font-stack: Helvetica, sans-serif;
$primary-color: #333;


body {
  font: 100% $font-stack;
  color: $primary-color;
}

.index-page {
  background-color:#f5bb80;
 .container-fluid{
    .hero{
      background-image: linear-gradient(rgba(94, 92, 92, 0.801), rgba(153,102,51,0.2)), url("http://www.buscorestaurantes.com/files/images/Can-Mauri-127093.jpg");
      height: 100vh;
      background-size: cover;
      padding-top: 8vh;
      padding-bottom:30vh;

      h1{
        font-family: 'Jim Nightshade', cursive;
        text-transform: uppercase;
        font-size: 10rem;
        color: rgba(223, 118, 118, 0.973);
        text-shadow: 1px 1px 1px #000;
        // background-color: white;
      }
      
      p{
        font-family: 'Jim Nightshade', cursive;
        color:white;
        text-transform: uppercase;
        font-size: 2.3rem;
        line-height: 1,3;
        text-shadow: 1px 1px 1px #000;
        padding-left: 2rem;
      }
    }

}

.carousel-item{
  img{
    width:100%; 
    height: 41vh;
  }
}


button {
  color:white;
  font-size: 2rem;
  background:transparent;
  border-width:2px;
  border-style: solid;
  border-color: white;
  position:relative;
  margin:1em;
  display:inline-block;
  padding:0.5em 1em;
  transition:all 0.3s ease-in-out;
  text-align:center;
  font-family:comfortaa;
  font-weight:bold
}
  button:before, button:after {
    content:'';
    display:block;
    position:absolute;
    border-color:#454545;
    box-sizing:border-box;
    border-style:solid;
    width:1em;
    height:1em;
    transition:all 0.3s ease-in-out
  }

  button:before {
    top:-6px;
    left:-6px;
    border-width:2px 0 0 2px;
    z-index:5;
  }

  button:after {
    bottom:-6px;
    right:-6px;
    border-width:0 2px 2px 0;
  }

  button:hover:before, button:hover:after {
    width:calc(100% + 12px);
    height:calc(100% + 12px);
    border-color:#fff
  }

  button:hover {
    color:#353535;
    background-color:#fff;
    border-color:#fff
  }

.panel {
  max-width:960px;
  text-align:center;
  position:relative;
  margin:auto;
}

footer{
  h2{
    font-family: 'Engagement', cursive;
  }
  a{
    color: rgb(119, 137, 241);
    font-weight: bold;
  }
}
    


}
