@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');
@import url('https://fonts.googleapis.com/css?family=Engagement');

$font-stack: Helvetica, sans-serif;
$font-hero: 'Jim Nightshade', cursive;
$font-footer: 'Engagement', cursive;
$primary-color: #333;
$bg-color: #f5bb80;